.App {
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: url("https://cdn.fishki.net/upload/post/2019/08/14/3057384/tn/1c042f46bdd6cc56ed68d53dc2d8a890.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.brdr {
  border-radius: 12px;
  border: 1px solid #ff3c00;
  padding: 8px;
}

.display {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 25px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
